main{
    background-image: url(../img/circuit_cv.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
}
/*-------------------------------------------------------------------------------------------------------------*/
/*Compétence*/

.icon {
    width: 30px;
    height: 30px;
    vertical-align: middle; /* Pour mieux aligner avec le texte */
  }
  
.card {
    background-color: #e8e4e6;
    color: #0f3433;
    border-radius: 12px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

.card h2{
  color: #001e1d;
}

td{
  text-align: center;
}