
article{
    flex-direction: column;
}

#hero{
    margin-top: 35px;
}

#hero h1{
    font-size: xx-large;
}

#hero .container{
    flex-direction: column;
}

.icon {
    width: 30px;
    height: 30px;
    vertical-align: middle; /* Pour mieux aligner avec le texte */
  }
/*-------------------------------------------------------------------------------------------------------------*/

/* Carousel projet */
.carousel {
    position: relative;
    overflow: hidden;
    width: 50vw;
    max-width: 900px;
    margin: 0 auto;
    height: 40vh;
}
  
.carousel-track {
    display: flex;
    transition: transform 0.4s ease-in-out;
}
  
.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    text-align: center;
}
  
.carousel-item img {
    object-fit: cover;
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 0.5rem;
}
  
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #333;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 1;
    font-size: 1.5rem;
    border-radius: 0.25rem;
}
  
.carousel-btn.prev {
    left: 10px;
}
  
.carousel-btn.next {
    right: 10px;
}
  
.btn-small {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 0.25rem;
}

article + article {
    margin-top: 4rem;
    padding-top: 2rem;
}   

/*-------------------------------------------------------------------------------------------------------------*/

/*Skill List*/

.tech-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    padding: 0;
    padding-top: 15px;
  }
  
  .tech-list li {
    background-color: #f0f0f0;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
  }


  /*-------------------------------------------------------------------------------------------------------------*/

/*About  Brief*/

#about-brief div h2{
    color: #fffffe;
    margin-bottom: 1rem;
}

#about-brief div{
    background-color: #004643;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 3rem auto;
    text-align: center;
  
}

#about-brief div p{  
    font-size: 1.1rem;
    color: #e8e4e6;
    line-height: 1.6;
}