
header{
    width: 100%; 
}

.nav-menu a { 
  color: #abd1c6;
}

nav{
    background-size: cover;
    width: 100%; 
}

@media screen and (min-width: 901px) {
    .burger{
        display: none;
    }
    .nav-menu {
        align-items: center; 
        list-style: none; 
        display: flex; 
        justify-content: space-evenly; 
    }

    .nav-menu a {
        display: block; 
        padding: 10px 20px; 
        text-transform: uppercase;
    }

    .submenu {
        display: none;
        position: absolute;
    }
    
    .submenu li {
      background-color: #abd1c6;
      list-style: none;
    }
    
    .nav-menu li:hover .submenu {
        display: block;
    }
    
    .submenu a {
      color: #001e1d;
        padding: 10px 20px; 
        display: block;
    }
}

@media screen and (max-width: 900px) {
    .burger {
      margin: 5px;
      position: relative;
      width: 40px;
      height: 30px;
      background: transparent;
      cursor: pointer;
      display: block;
    }

    .hiden {
        display: none;
    }

    .hiden.active {
        display: block;
    }
    
      .burger input {
        display: none;
      }
      
      .burger span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: #e16162;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
      }
      
      .burger span:nth-of-type(1) {
        top: 0px;
        transform-origin: left center;
      }
      
      .burger span:nth-of-type(2) {
        top: 50%;
        transform: translateY(-50%);
        transform-origin: left center;
      }
      
      .burger span:nth-of-type(3) {
        top: 100%;
        transform-origin: left center;
        transform: translateY(-100%);
      }
      
      .burger input:checked ~ span:nth-of-type(1) {
        transform: rotate(45deg);
        top: 0px;
        left: 5px;
      }
      
      .burger input:checked ~ span:nth-of-type(2) {
        width: 0%;
        opacity: 0;
      }
      
      .burger input:checked ~ span:nth-of-type(3) {
        transform: rotate(-45deg);
        top: 28px;
        left: 5px;
      }
}