@import url("top.css");
@import url("footer.css");

*{
    margin: 0;
    padding: 0;
    background-color: #004643;
}

html, body {
    height: 100%;
    margin: 0;
}
  
body {
    display: flex;
    flex-direction: column;
}
  
main {
    flex: 1;
}

a{
    text-decoration: none; /* Permet de ne pas avoir de décoration superflue */
}

a:hover{
    color: #f9bc60;
}

p{
    color: #abd1c6;
}

#hero{
    margin-top: 35px;
    display: flex;
    
}