@import url("css/top.css");
@import url("css/footer.css");

*{
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #004643;
    height: 100%;
    margin: 0;
}
  
body {
    display: flex;
    flex-direction: column;
}
  
main {
    flex: 1;
}

h1,h2,h3,h4,h5,h6{
    color: #fffffe;
}

a{
    text-decoration: none; 
    color: #001e1d;
}

p{
    color: #abd1c6;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.green-light{
    background-color: #abd1c6;
    color: #004643;
}

.btn, .btn-small{
    background-color: #f9bc60;
    padding: 10px;
    border-radius: 0.5rem;
}

article + article {
    margin-top: 4rem;
    padding-top: 2rem;
  }

.tech-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    padding: 0;
    padding-top: 15px;
}

  
.carousel-btn {
  position: absolute;
  transform: translateY(-50%);
  background: #333;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 1;
  font-size: 1.5rem;
  border-radius: 0.25rem;
}

.carousel-btn.prev {
  left: 10px;
}

.carousel-btn.next {
  right: 10px;
}